!!! 5
%html
  %head
    %meta{:charset "UTF-8"}
    %title Quick Notes
  %body
    #main
      .note
        #h2 Quick Notes
        %ul
          %li
            Haml is usually indented with two spaces,
            although more than two is allowed.
            You have to be consistent, though.
          %li
            The first character of any line is called
            the "control character" - it says "make a tag"
            or "run Common Lisp code" or all sorts of things.
          %li
            Haml takes care of nicely indenting your HTML.
          %li
            Haml allows Common Lisp code and body.
            But not in this example.
            We turned it off for security.

      .note
        You can get more information by reading the
        %a{:href "readme.html"} Official CL-HAML Reference.

      .note
        %p
          This example doesn't allow Common Lisp to be executed,
          but real CL-HAML does.
        %p
          Common Lisp code is included by using = at the
          beginning of a line.
        %p
          Read the tutarial for more information.
